@charset "UTF-8";
/* GENERALES */
*{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    color: #2d2a2a; 
}

/* MENÚ */
header{
    background-color: #f6f2ec;
    width: 100%;
}

.menu__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.menu__container a{
    width: 300px;
}

.logo{
    width: 50%;
}

.menu__container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 25px;
    font-size: 12px;
}

li a{
    text-decoration: none;  
    padding: 30px; 
    position: relative;
    text-align: left;
    color: #2d2a2a;
}

li a:hover{
    color: #2d2a2a;
}


#menu ul li a{
    position: relative;
}

#menu ul li a::after{
    content: "";
    background-color: #aa9c94;
    position: absolute;
    left: 0;
    top: 75%;
    width: 15px;
    height: 3%;
    opacity: 0;
    transition: width 1s;
}

#menu ul li a.active::after{
    opacity: 1;
}

#menu ul li a:hover::after{
    opacity: 1;
    width: 100%;
}

.iconCart{
    font-size: 17px!important;
}